@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f1f1;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255,255,255,.3); 
}

.app {
  margin: 4rem auto;
  padding: 2rem 3rem;
  max-width: 450px;
  background-color: #ff6666;
  color: #f7f1f1;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list span{
  display: flex;
  width: 140px;
  justify-content: space-evenly;
  z-index: 1;
}

.todo-list li {
  display: flex;
  margin: 5px -6rem;
  padding: 1.1rem 2.5rem 1.1rem 0rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.1);
}

form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  margin: 5px 0 ;
  display: flex;
}

form button {
  padding:0 1.3rem;
  color: #f7f1f1;
  background: #ff6666;
  border: 2px solid rgba(255,255,255,.3);
  cursor: pointer;
  transition: .2s ease-out;
  position: relative;
  left: 50px;
  top: -53px;
}

form button:hover {
  background: rgba(255,255,255,0.1);
} 

form input, 
form button {
  height: 3rem;
}

.header{
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: -10px -20px -10px -2px;
}

.header p {
  display: flex;
  width: 100px;
}